/*add-patient*/
.P1{padding-top: .2rem}
.P1 #wrap{border-bottom: 1px solid #e5e5e5}
.P1 #wrap li{border-top: 1px solid #e5e5e5;background-color: #FFFFFF}
.P1 #wrap li p{margin-left:.9rem;line-height: .9rem;float:left;font-size: 16px}
.P1 #wrap li input{height: .8rem;float: left;width:4rem;margin-left: .1rem;font-size: 16px;line-height:.8rem;padding-top: .1rem}
.P1 #id-card{background: url("../img/id_card.png")no-repeat left .26rem center;background-size:.4rem auto}
.P1 #type{display: flex;flex-flow:row nowrap;justify-content:center;}
.P1 #type li{width:30%; line-height: 1rem;padding-left: 30px;margin: 0 20px;background: url("../img/false.png")no-repeat left center;background-size: 20px auto}
.P1 #type li.active{background-image: url("../img/true.png")}