/*choose-patient*/
.P2 ul{background-color: #FFFFFF;}
.P2 li p{line-height: .88rem;border-bottom: 1px solid #e5e5e5;padding:0 .26rem;font-size: 16px}
.P2 li span{display: block;width: .4rem;height: .4rem;float: right;margin-top: .24rem;/*background:url("../img/true.png")no-repeat center;background-size: 100%*/}