.P22 #ul-wrapper{position: absolute;top: 0;bottom: 1rem}
.P22 .scroll{padding: .2rem .3rem 0}
.P22 .scroll img{display: block;width: 6.9rem}
.P22 .scroll h3{font-weight: normal;font-size: 16px;margin: .2rem;border-left: 2px solid #7f167b;color: #7f167b;padding-left: .2rem;line-height: 16px}
.P22 .scroll p{padding: 0 .3rem;vertical-align: justify;color: #585b60;text-indent: 2em}