/*inhospital-record*/
.P8{padding-top: .2rem;overflow: auto}
.P8 li{border-top:1px solid #e5e5e5;}
.P8 h2{line-height: .88rem;font-size: 16px;background-color:#FFFFFF;font-weight: 500;padding:0 .26rem}
.P8 #wrap{position: absolute;top: 4.2rem;bottom:1rem;width:100%;overflow: auto}
.P8 #wrap table{width: 100%;border-collapse:collapse;display: block;background-color: #FFFFFF}
.P8 .title li{background-color: #3F9FF3;color: #FFFFFF;float: left;text-align: center;line-height: .9rem;width: 25%}
.P8 #wrap tr{width: 100%;display: block;overflow: hidden;border-bottom:1px solid #e5e5e5;}
.P8 #wrap td{text-align: center;line-height: .88rem;width: 25%;display: block;float: left}
.P8 .price{color: #f45306}
.P8 #number{background-color: #FFFFFF;border:1px solid #e5e5e5;margin:0 2rem .2rem .26rem;padding-left: .26rem;position: relative}
.P8 #number p{line-height: .9rem;float: left;font-size: 16px;}
.P8 input{line-height: .7rem;float: left;margin-top: .1rem;font-size: 16px;margin-left: 10px;width: 2.1rem}
.P8 #submit{position:absolute;top:.1rem;right:-1.65rem;border-radius:4px;line-height: .7rem;font-size: 16px;text-align: center;width: 1.3rem;background-color: #3F9FF3;color: #FFFFFF}
.P8 #detail-wrap{display: none}
.P8 #detail-wrap.active{display: block}
.P8 #calendar{display: block;position: absolute;top: .1rem;right: .1rem;height: .7rem;width: .8rem;background: url("../img/yalan-icon.png")no-repeat right center;background: 70% auto}
.P8 #time{position:absolute;left:0.26rem;padding-left: 140px}
.P8 #choose-time p{line-height: .9rem;font-size: 16px;margin: 0 .26rem;padding:0 .26rem;background-color: #FFFFFF;border: 1px solid #e5e5e5;margin-bottom: .2rem}
.P8 .laydate_box,.laydate_box *{box-sizing: content-box}