/*inhospital-payrecord*/
.P7{padding-top: .2rem;overflow: auto}
.P7 li{border-top:1px solid #e5e5e5;}
.P7 #wrap{position: absolute;top: 1.7rem;bottom:1rem;width:100%;overflow: auto}
.P7 #number{background-color: #FFFFFF;border:1px solid #e5e5e5;margin:.2rem 2rem .2rem .26rem;padding-left: .26rem;position: relative}
.P7 #number p{line-height: .9rem;float: left;font-size: 16px;}
.P7 input{line-height: .7rem;float: left;margin-top: .1rem;font-size: 16px;margin-left: 10px;width: 3rem}
.P7 #submit{position:absolute;top:.1rem;right:-1.65rem;border-radius:4px;line-height: .7rem;font-size: 16px;text-align: center;width: 1.3rem;background-color: #3F9FF3;color: #FFFFFF}
.P7 #detail-wrap{display: none;overflow: hidden}
.P7 #detail-wrap.active{display: block}
.P7 ul{background-color: #FFFFFF;margin-bottom: .2rem}
.P7 li{padding: 0 .26rem;overflow: hidden}
.P7 li:nth-last-child(1){border-bottom: 1px solid #e5e5e5;}
.P7 li p{font-size: 16px;line-height: .88rem;float: left}
.P7 .gray{color: #888888}
.P7 .red{color: #f45306}