/*order-record*/
.P11 body{padding-top: .2rem;}
.P11 #patient{margin: 0 .26rem .2rem;background:url("../img/next.png")no-repeat right .2rem center #FFFFFF;background-size: auto .3rem;}
.P11 #patient p{float: left;line-height: 1rem;font-size: 16px;padding-left: .82rem;background: url("../img/card.png")no-repeat left .22rem center;background-size:.43rem auto;}
.P11 #patient span{display: block;float: left;font-size: 16px;color: #3f9ff3;line-height: 1rem}
.P11 table{width:100%;border-collapse:collapse;position: absolute;bottom: 1rem;top: 2.3rem;display: block;overflow: auto}
.P11 #title li{float: left;width: 25%;text-align: center;line-height: .9rem;color:#3f9ff3;background-color: #FFFFFF;border-top: 1px solid #e5e5e5}
.P11 tr{display:block;border-top: 1px solid #e5e5e5;width: 100%;background-color: #FFFFFF;}
.P11 tr:nth-last-child(1){border-bottom: 1px solid #e5e5e5}
.P11 td{display:block;float:left;width: 25%;text-align: center;line-height: .9rem;}