/*pay-record*/
.P14{padding-top: .2rem;overflow: auto}
.P14 li{border-top:1px solid #e5e5e5;}
.P14 h2{line-height: .88rem;background: url("../img/next.png")no-repeat right .2rem center #FFFFFF;background-size:auto .3rem;font-size: 16px;font-weight: 500;padding-left: .26rem}
.P14 #wrap{position: absolute;top: 1.98rem;bottom:1rem;width:100%;overflow: auto}
.P14 table{width: 100%;border-collapse:collapse;display: block;}
.P14 .title li{background-color: #3F9FF3;color: #FFFFFF;float: left;text-align: center;line-height: .9rem;width: 25%}
.P14 tr{width: 100%;display: block;overflow: hidden}
.P14 tr:nth-last-child(1){border-bottom:1px solid #e5e5e5;}
.P14 td{text-align: center;line-height: .88rem;width: 25%;background-color: #FFFFFF;display: block;float: left}
.P14 .price{color: #f45306}