.P23{background: #f0f0f5}
.P23 #ul-wrapper{position: absolute;top:0;width: 100%;bottom: .98rem;}
.P23 #ul-wrapper div{padding-left:.3rem;background: #ffffff;margin-bottom: .2rem;border-bottom:1px solid #dddddd;border-top:1px solid #dddddd}
.P23 #ul-wrapper div:nth-of-type(1){border-top: none}
.P23 li{height: .86rem;border-bottom:1px solid #dddddd;overflow: hidden;position: relative;}
.P23 li.choose{background: url("../img/next-normal.png")no-repeat right .3rem center;background-size: .17rem auto}
.P23 li:nth-last-child(1){border:none}
.P23 p{line-height:.86rem;float: left;}
.P23 input,.P23 span{height:.86rem;position: absolute;top: 0;left: 2.4rem;line-height: 18px;width: 4.2rem}
.P23 span{line-height: .86rem}
.P23 #submit{display:block;position: absolute;bottom: 0;width:100%;text-align: center;line-height: .98rem;background-color: #7f167b;color: #ffffff;font-size: 18px;}