/*search-report*/
.P17 #type{position: fixed;top: 1.4rem;left: .27rem;z-index: 2;}
.P17 #type li{width: 3.48rem;background-color: #FFFFFF;line-height: 1rem;font-size: 18px;text-align: center;float: left}
.P17 #type li.active{background-color: #78c3e9;color: #FFFFFF}
.P17{padding-top: .2rem;}
.P17 #patient{margin: 0 .26rem .2rem;background:url("../img/next.png")no-repeat right .2rem center #FFFFFF;background-size: auto .3rem;}
.P17 #patient p{float: left;line-height: 1rem;font-size: 16px;padding-left: .82rem;background: url("../img/card.png")no-repeat left .22rem center;background-size:.43rem auto;}
.P17 #patient span{display: block;float: left;font-size: 16px;color: #3f9ff3;line-height: 1rem}
.P17 #title{position: absolute;top: 2.6rem;width: 100%;bottom:1rem;overflow: auto}
.P17 #title li{background-color: #FFFFFF;border-top: 1px solid #e5e5e5;overflow: hidden;padding: 0 .26rem}
.P17 #title li:nth-last-child(1){border-bottom: 1px solid #e5e5e5;}
.P17 #title li p{float: left;line-height: .9rem;}
.P17 #title li span{float: right;line-height: .9rem;color: #888888;display: block;padding-right: .5rem;background: url("../img/next.png")no-repeat right .05rem center;background-size: .2rem auto}